{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename='css/mine.css')}}">
{% endblock %}
{% block content%}
<div class="container-fluid">
    <hr>
    <div class="row">
        <h2  style="color:green;text-align:center;">General Sources</h2>
        <div class="col-md-12">
            {{macro.displayNewsSourcesList(general)}}
        </div> </div>
        <hr>
        <hr>
        <hr>
        <div class="row">
                <h2 style="color:green;text-align:center;">Business News Sources</h2>
            <div class="col-md-12">
                    {{macro.displayNewsSourcesList(business)}}
            </div>
            
        </div>
        <hr>
        <hr>
        <div class="row">
                <h2 style="color:green;text-align:center;">Sports News Sources</h2>
            <div class="col-md-12">
                    {{macro.displayNewsSourcesList(sports)}}
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        <div class="row">
                <h2 style="color:green;text-align:center;">Technology News Sources</h2>
            <div class="col-md-12">
                    {{macro.displayNewsSourcesList(technology)}}
            </div>
        </div>
        <hr>
        <hr>
        <hr>
        <div class="row">
                <h2 style="color:green;text-align:center;">Entertainment News Sources</h2>
            <div class="col-md-12">
                    {{macro.displayNewsSourcesList(entertainment)}}
            </div>
            
        </div>
        <hr>
        <hr>
    </div>
    {% endblock %}