{% macro displayNewsSourcesList(news_source_list) %}
{% for source in news_source_list %}
<div class="col-md-3">
   <div class = "cards">
       <div class="row">
       <div class="caption">
           <h3 class="header" style="color:#7FB285; font-family:Domine; font-weight: bolder;" > {{source.name}} </h3>
       </div>
       <div class="panel-body">
           <p>
               {{ source.description |truncate(120)}}
               <br>
               <br>
               <a class = "btn btn-danger" href="/articles/{{source.id}}">Show Articles from  {{source.name}}</a>
           </p>
       </div>
   </div>
   </div>
</div>
{% endfor %}
{% endmacro %}